<p id="notice"><%= notice %></p>

<h1>Listing Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<b>Your total income is </b><%=Income.sum(:amount)%><br><br>
<b>Your total expenditures is/are </b><%=Cost.sum(:amount)%><br><br>
<b>Remaining Balance is </b><%=(Income.sum(:amount) - Cost.sum(:amount)) %> <br><br>

<b>Category wise incomes is/are </b><br> <%catg_inc=Income.group(Income.column_names[1]).sum(:amount)%>
<%catg_incHashes = catg_inc.keys%>

<% catg_incHashes.each { |x| puts x } %>
<% catg_incHashes.each do |te| %>
  <!-- <%= te %> -->
  Your incomes for Category <b><%= temp = Category.where("id = ?",te).pluck(:name)[0]%></b> is <b><%= catg_inc[te]%></b>
  <br>
<% end %>


<br><br>
<b>Category wise expenditures is/are</b><br>

<% catg_exp=Cost.group(Cost.column_names[1]).sum(:amount)%>
<% catg_expHashes = catg_exp.keys%>
<% catg_expHashes.each { |x| puts x } %>
<% catg_expHashes.each do |t| %>
  <!-- <%= t %> -->
  Your Expenditure for Category <b><%= temp = Category.where("id = ?",t).pluck(:name)[0]%></b> is <b><%= catg_exp[t]%></b>
  <br>
<% end %>

<br><br>


<%= link_to 'New Category', new_category_path %>

<% if((Income.sum(:amount) - Cost.sum(:amount))>1000) %>
	<script type='text/javascript'>
    	alert("Enough balance..");
    	</script>
    <% elsif((Income.sum(:amount) - Cost.sum(:amount))<1000) %>
	<script type='text/javascript'>
	alert("Oops!! Your balance is low!!!");
	</script>
	<% else %>
	<%="alert you are spending alot"%>
<% end %>
