<!DOCTYPE html>
<html>
<head>
  <title>Wallet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color:#ffffff;border-style: groove;">
<div style="width: 100%;height: 100px;background-color: #c10037;color: #ffffff;text-align: -webkit-center;margin-top: -10px;font-size:20px;">
<h2 style=" padding: 35px;">My Wallet</h2>
</div>

<%= yield %>

</body>
</html>
